body {
    font-family: 'Space Mono';
    margin: 0;
    padding: 0;
    background-image: url('fundo.png'); /* Substitua 'background-image.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.call-button {
    padding: 15px 30px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #ff4545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
}

.call-button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }
}
